.imgcard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 20px;
  max-width: 1040px;
  padding-left: 5vw;
  padding-right: 5vw;
  margin: 10vh auto 10vh auto;
}

.cardcontainer {
  position: relative;
  width: 100%;
  height: 125px;
  text-align: center
}

.article-img {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.article-img:hover {
  width: 124px;
  height: 124px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* 
.cardcontainer:hover{
  text-align: center;
} */